<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Entidades.SP.Properties.Settings.Conexion" connectionString="Data Source=DESKTOP-3N7LUOO;Initial Catalog=productosDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>