<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Entidades.Properties.Settings.CONEXION" connectionString="Data Source=DESKTOP-3N7LUOO;Initial Catalog=final_lab_II;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>